%html
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "Content-type" }/
    %title
    
    =render_partial('player_window_includes')
  
  :ruby
    def play_window_button(id, content)
      "<div class='playWindowButton' id='#{id}'>#{content}</div>"
    end
    
    def slider(id)
      "<div id='#{id}' class='#{id}'><input id='#{id}Input'/></div>"
    end
    
  :javascript

    function init(){
      if (Twump.Controller.Updater.update()) return;
      Twump.application = new Twump.Application();
    }
  
  %body{:ondragover => "event.preventDefault()", :onload => "init();",
    :ondragenter => "event.preventDefault()", 
    :style => "overflow:hidden;-webkit-user-select:none; font-family:verdana;font-size:14px;"}
  
    =render_partial('title_bar')
    
    #player
      .playingInfo
        #playing
        #playlistPos
        #progress
      
      #playProgress.playProgress
      
      %br/
      %div
        =play_window_button('previous', '|<')
        =play_window_button('play', '>')
        =play_window_button('pause', '||')
        =play_window_button('stop', 'O')
        =play_window_button('next', '>|')
        
        #volume.volume
        
      %br/
      %br/
      %div &nbsp;
      
      %div
        =play_window_button('openFolder', 'Ldf')
        =play_window_button('addFolder', 'Ld+')
        =play_window_button('loadList', 'LdL')
        =play_window_button('saveList', 'Sv')
        =play_window_button('shuffle', 'Sh')
        =play_window_button('shuffleRemaining', 'Sh+')
        =play_window_button('delete', 'Rm')
        =play_window_button('clear', 'Cl')
        =play_window_button('editor', 'Ed')
      %br/
    
    %table{:cellpadding => 0, :cellspacing => 0, :border => 0}
      %tr
        %td
          #songlist.songlist
        %td
          #pageProgress.pageProgress
    
    =render_partial('resize')
    
    #songlistContextMenu{:style => "display:none;background-color:cyan" }
      #copyPathToClipboard
        copy full path to clipboard
      #deleteContext
        remove
    
    =render_partial('tooltip')
